.flexContainer{
  display: flex;
  justify-content: space-between;
}
.flexColumn{
  flex-wrap: wrap;
  background-color: aqua;
  flex:1;
  word-wrap: break-word;
  overflow: auto;
  padding: 25px;
  text-decoration: none;
}

@media screen and (max-width: 800px){
  .flexContainer {
    flex:none;
    flex-direction: column;
    flex-basis: 100%;
  }
}